[core]
	autocrlf = input 
	safecrlf = false
	ignorecase = false
	excludesfile = C:\\Users\\tyajima\\Documents\\gitignore_global.txt
	preloadindex = true
	fscache = true
[gui]
[user]
	name = tyajima
	email = tyajima@aiming-inc.com
[guitool "git pull --rebase"]
	cmd = git pull --rebase
[gui]
	encoding = utf-8
[alias]
	co = checkout
	br = branch
	st = status
	df = diff
	ft = fetch
	pushhead = push origin HEAD:refs/for/master
	amend = commit --amend
	amendc = commit --amend -C HEAD
	fp = fetch --prune
	graph = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	psreview = "!f(){ git push origin HEAD:refs/for/$1;};f"
	rup = remote update --prune
	s = status --branch --short
[color]
	ui = true
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[difftool "winmerge"]
	cmd = winmerge-diff.sh \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[difftool]
	prompt = false
[mergetool "winmerge"]
	cmd = winmerge-merge.sh \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = false
[diff]
	tool = winmerge
[push]
	default = matching
[merge]
	ff = false
